:root {
    --primary: #30336b;
    --secondary: #6ab04c;
    --success: #badc58;
    --info: #22a6b3;
    --warning: #f9ca24;
    --light: #dff9fb;
}

@import '~bootstrap/dist/css/bootstrap.min.css';
@import "~bootstrap-vue/dist/bootstrap-vue.min.css";
